extends layout

block content
  script.
    var showContent = function() {
        if (invoice.settled) {
            article_content.style.visiblity = "visible";
            lnd_info.sytle.visibility = "hidden";
            lnd_invoice.style.visiblity = "hidden";
        }
    }

    showContent()

  .lnd_info
    h1 LND Information
    p Identity pubkey: #{getInfo.identity_pubkey}
    p Alias: #{getInfo.alias}
    p Pending channels: #{getInfo.num_pending_channels}
    p Active channels: #{getInfo.num_active_channels}

  .lnd_invoice
    h1 Invoice
    h2 Settled: #{invoice.settled}
    p Payment request: #{invoice.payment_request}
    p Amount: #{invoice.value} satoshis
    p Memo: #{invoice.memo}

    button(onclick="sendPayment('" + invoice.payment_request + "')", title="Send Payment")
      |  Payment Sent